.bordasteste{
    border: 3px solid red;
}

#nav-principal{
    text-align: center;
}

/***LOGO***/
#logo:hover{
    padding: 5px 5px;/*Causa efeito ilusão de botao*/
    border-radius:25px;
    background: #9bf0e06b;
}

/***Barra de navegação background***/
/***Precisa ter o nav na frente do nome da classe pois ela sera colocada junto a div NAV***/
nav.navbar-transparent{
    background: rgba(0, 0, 0, 0.6);
    padding: 15px 0px;
}

.navbar-light .navbar-nav .nav-link/*Precisa sobre-escrever as classes igual -e no site oficial, fazendo a inspersao e verificando*/
{
    color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover/*Precisa sobre-escrever as classes igual -e no site oficial, fazendo a inspersao e verificando*/
{
    color: #9bf0e1;
}

.navbar-light .navbar-toggler{/*Define as bordas do botao menu hamburguer*/
    color: rgba(255, 255, 255, 0.5);
    border-color: rgba(255, 255, 255, 0.5);
}

.divisor{
    width: 1px;
    background: white;
    margin: 10px 15px;
}
/***Layout***/
html, body, #home{
    /*border: 2px solid red;*//*PARA POder deixar o texto centralizado é preciso deixar o as tags html,body e #home com 100% da tela*/
    height: 100%;
}

body{
    background: url(../img/capa.png),/*imagem fundo**/
                url(../img/ruido.png),/*imgem ruin**/
                linear-gradient(50deg, #ff4169, #7c26f8);/*Para causa o efeito degradÊ*/
    background-attachment: fixed;/*Fixa a imagem de fiundo na posicao da DIV*/
    font-family: Arial, Helvetica, sans-serif;

}

/***Para centralizar os texto pagina home depois de dar HEIGHT: 100% nas tags html body e id #home***/
.capa{
    text-align: center;
}

.btn-custom{
    color:white;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
    padding: 10px 15px;
}

.btn-roxo{
    background: #7c26f8;
}
.btn-roxo:hover{
    background: #6207e3;
    color: #ff4169;
}

.btn-branco{
    border: 3px solid rgb(238, 231, 231);
}
.btn-branco:hover{
    background-color: rgba(255, 255, 255, 0.86) ;
    color: #ff4169;
}

/***Tipografia da #home***/
h1{
    font-weight: 900px;/*Tamanho das letras*/
    letter-spacing: -0.05em;/*Distancia entre as letras*/
    margin-bottom: 50px;
    color: white;
}

/***Media Query serve para padronizar a visualizao dos ocnetudo de acordo com o tamnaho da tela***/

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) { 
    h1{
        font-size: 3.5em;
    }
 }

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    h1{
        font-size: 4em;/*que seria + ou - 50px*/
    }
 }

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) { 
    h1{
        font-size: 5em;
    }
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) { 
    h1{
        font-size: 6em;
    }
 }

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    h1{
        font-size: 7em;
    }
 }